<%- include header %>
    <script src='/app.js'></script>
    <script src="/controllers/myRoute.js"></script>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                    <div class="animated rotateInDownLeft table" style="margin-top: 27%" ng-controller="MyRouteCtrl" ng-cloak>
                        <div class="text-center page-title">您的行程</div>
                        <div class="row">
                          <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">

                    <thead>
                      <tr>
                        <th>路线</th>
                        <th>时间</th>
                        <th>当前人数</th>
                        <th class="text-center">取消</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in dataList">
                        <td>
                          <span>{{item.route}}</span>
                        </td>
                        <td>
                          <span>{{item.time}}</span>
                        </td>
                        <td>
                          <span>{{item.personCount}}</span>
                        </td>
                        <td class="text-center">
                          <button class="text-danger">取消</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </div>

    <%- include footer %>
